/* HEADER CSS */
body {
  background-color: #f5f7fa !important;
}
.not-show {
  display: none !important;
}
nav.navbar.navbar-expand-md {
  background: #00ac8c !important;
}
.App .navbar .container {
  display: block;
}
.header-search-form {
  width: 100%;
  max-width: 210px;
  position: relative;
}
.header-search-form button img {
  width: 16px;
}
.header-search-form .btn.btn-secondary {
  background: #000;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.header-search-form input {
  padding: 8px 8px 8px 45px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.header-circle-btn {
  width: 40px;
  height: 40px;
  float: right;
  background: #fff;
  border-radius: 100%;
}
.navbar .row {
  align-items: center;
}
.navbar-light .navbar-brand {
  color: #fff !important;
  font-weight: bold;
  font-size: 26px;
  line-height: 28px;
}
.navbar-expand-md .navbar-nav .nav-link {
  font-size: 18px;
  line-height: 20px;
  color: #fff !important;
  font-weight: bold;
}
.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:focus {
  color: #7f0019 !important;
}
.navbar .create-new-business.nav-link {
  background: #7f0019;
  padding: 10px 20px !important;
  margin-left: 10px;
  border-radius: 5px;
  color: #fff !important;
}
.navbar .create-new-business.nav-link:hover,
.navbar .create-new-business.nav-link:focus {
  background: #000 !important;
  color: #fff !important;
}
.hedaer-icon a img {
  width: auto;
  height: 30px;
}
.hedaer-icon.card {
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.header-right.card {
  flex-direction: row !important;
  gap: 15px;
  justify-content: flex-end;
  position: unset;
}
.header-right .me-auto.navbar-nav {
  margin-right: 0 !important;
}
.header-right .collapse.navbar-collapse {
  flex-grow: unset;
}
.hedaer-icon a:hover,
.hedaer-icon a:focus {
  opacity: 0.7;
}
.account-dropdown.card {
  position: absolute;
  z-index: 9999;
  right: 0;
  width: 250px;
  padding-top: 65px;
}
.account-dropdown.card .account-dropdown-inner {
  background: #e5e5e5 !important;
}
.account-dropdown ul {
  padding: 20px;
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 0;
}
.account-dropdown ul li {
  padding: 5px 0;
}
.account-dropdown ul li a {
  text-decoration: none;
  color: #000;
}
.account-dropdown ul li a:hover,
.account-dropdown ul li a:focus {
  color: #00ac8c;
}
.account-dropdown-inner::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid #e5e5e5;
  top: -16px;
  position: absolute;
  right: 10px;
}
.account-dropdown-main:hover .account-dropdown {
  display: block;
}

/*MEMBERS SECTION CSS */
.section-title.card {
  border: none;
}
.card {
  border: none !important;
  background: transparent !important;
}
.members-section {
  padding: 55px 0;
  background: #f5f7fa !important;
}
.members-block {
  max-width: 670px;
  margin: 50px auto 0;
}
.members-block .row {
  margin: 5px 0;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  align-items: flex-end;
}
.members-thumbnail.card {
  flex-direction: row;
}
.members-thumbnail.card img {
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 100%;
  position: relative;
  margin-left: -5px;
}
.members-thumbnail.card img:first-child {
  z-index: 9999;
}
.members-thumbnail.card img:nth-child(1) {
  z-index: 999;
}
.members-thumbnail.card img:nth-child(2) {
  z-index: 99;
}
.members-thumbnail.card img:nth-child(3) {
  z-index: 9;
}
.members-block button {
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  background: #f7f8fa;
  color: #000;
  font-weight: 600;
  padding: 5px 10px;
  margin-bottom: 12px;
}
.section-bottom.card {
  text-align: center;
  margin-top: 150px;
}
/*MULTISTEPS SECTION CSS */
.steps-bar ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.steps-bar ul li div {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: #c8c8c8;
  cursor: pointer;
}
.steps-bar ul li div span {
  background: #c8c8c8;
  width: 45px;
  height: 45px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 22px;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
}
.steps-bar ul li {
  position: relative;
  width: 25%;
  max-width: 25%;
}
.steps-bar ul li::before {
  content: "";
  position: absolute;
  width: 80%;
  top: 17px;
  height: 10px;
  background: #c8c8c8;
  right: 60%;
  border-radius: 10px;
}
.steps-bar ul li.active::before {
  background: #00ac8c;
}
.steps-bar ul li:first-child:before {
  display: none;
}
.multistep-section {
  padding: 55px 0;
}
.steps-bar ul li.active div span {
  background: #00ac8c;
}
.steps-bar ul li.active div {
  color: #00ac8c;
}
.steps-bar.card {
  margin-bottom: 30px;
}
.steps-block .section-title .card-text {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 15px;
}
.steps-detail-block.card {
  cursor: pointer;
  background: #fff !important;
  padding: 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  text-align: center;
}
.steps-detail-block img {
  width: 200px;
  margin: 0 auto;
}
.steps-detail-block p.card-text {
  font-size: 30px;
  line-height: 38px;
  margin-top: 30px;
}
.steps-form {
  padding: 50px 0;
}
.steps-form .section-title {
  margin-bottom: 40px;
}
.steps-form form div.mb-3 {
  width: 80%;
  display: flex;
  margin-bottom: 15px !important;
  gap: 30px;
  align-items: flex-start;
}
.steps-form form input,
.steps-form form select {
  border: none;
  background: transparent;
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  padding: 10px 0;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
.form-control:focus,
.form-select:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  border-color: rgba(0, 0, 0, 0.2) !important;
}
.steps-form form button {
  background: #7f0019;
  border: none;
  font-weight: bold;
  padding: 10px 30px;
  font-size: 22px;
  line-height: 32px;
  color: #fff;
}
.steps-form form .step-from-btn.mb-3 {
  width: 100%;
  justify-content: space-between;
}
.form-tooltip {
  width: 30px;
  height: 30px;
  display: flex;
  background: #000;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  border-radius: 100%;
  cursor: pointer;
}
.form-tooltip:hover,
.form-tooltip:focus {
  color: #fff;
  opacity: 0.7;
}
.step-business-section .section-title .card-text {
  text-align: left;
}
.tooltip-inner {
  max-width: 270px !important;
  color: #000 !important;
  text-align: left !important;
  background-color: #cecfd0 !important;
  border-radius: 0.25rem !important;
  padding: 15px !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.bs-tooltip-end .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^="right"] .tooltip-arrow::before {
  border-right-color: #cecfd0 !important;
}
.steps-form.shareholder-form form div.mb-3 {
  width: 100%;
}
.steps-form.shareholder-form.card .shareholder-fields {
  width: 50%;
  max-width: 50%;
}
.steps-form.shareholder-form form div.mb-3 .email-check {
  display: flex;
  width: 50%;
  max-width: 50%;
  gap: 15px;
  align-items: flex-start;
}
.steps-form.shareholder-form form div.mb-3 .email-check .form-control {
  width: 100%;
  max-width: 100%;
}
.steps-form.shareholder-form.card .add-another {
  width: 50%;
  max-width: 50%;
}
.steps-form.shareholder-form.card .add-another button {
  color: #00ac8c;
  background: none;
  border: 2px solid #00ac8c;
}
.card-title.title-with-tooltip {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.step-business-section.card {
  padding: 55px 0;
}
.step-business-section.card .section-title.card {
  margin-bottom: 55px;
}
.step-business-section .title-with-tooltip.card-title {
  justify-content: flex-start;
}
.step-address-text {
  margin: 50px 0;
}
.step-address-text p {
  margin-bottom: 0;
  font-size: 28px;
  line-height: 34px;
  font-weight: normal;
}
.bi-block {
  height: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
  background: #fff !important;
}
.business-information li {
  list-style: none;
  font-size: 18px;
  line-height: 26px;
  color: #000;
}
.tabs-links {
  width: 100%;
  flex-direction: row !important;
  gap: 30px;
  justify-content: center;
}
.tabs-links .yeartab {
  cursor: pointer;
}
.tabs-links .yeartab.tab-active {
  border-bottom: 2px solid #00ac8c;
  padding-bottom: 1px;
}
.tabs-links span {
  cursor: pointer;
  font-size: 20px;
  line-height: 22px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
}
.tabs-links span.tab-active {
  border-color: #000;
}
.tabs-detail ul li {
  padding: 5px 0;
}
.checkout-form form .form-label {
  margin-bottom: 5px;
}
.steps-form .checkout-form form div.mb-3 {
  width: 100%;
  gap: 0;
  margin-bottom: 15px !important;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.steps-form .checkout-form form input,
.steps-form .checkout-form form select {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
}
.steps-form .checkout-form form input.checkout-cardname {
  border-bottom: none;
}
.checkout-form .card-title {
  margin-bottom: 20px;
}
.checkout-email.form-control {
  background: url(./images/mail-icon.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center left 10px;
  padding-left: 35px !important;
}
.checkout-cardname.form-control {
  background: url(./images/card.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center left 10px;
  padding-left: 35px !important;
}
.checkout-cardno.form-control {
  background: url(./images/payment-icon.png);
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: center right 10px;
  padding-right: 110px !important;
}
.steps-form .checkout-form form input.checkout-date,
.steps-form .checkout-form form input.checkout-cardcvc {
  border-bottom: none;
}
.checkout-date-cvc {
  display: flex;
  width: 100%;
}
.checkout-date-cvc input.checkout-date {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.checkout-cardcvc.form-control {
  background: url(./images/cvc.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center right 10px;
  padding-right: 35px !important;
}
.steps-form .checkout-form form input.checkout-namecard.form-control {
  border-bottom: none;
}
.steps-form .checkout-form form select,
.steps-form .checkout-form form input[name="date"] {
  opacity: 0.6;
}
.address-manually {
  color: #000;
  margin-bottom: 15px;
  display: inline-block;
}
.steps-form .checkout-form form input.checkout-address.form-control {
  border-bottom: none;
}
.steps-form form select {
  background: url(./images/arrow-down.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center right 10px;
  padding-right: 25px !important;
}
.checkout-form form .form-check {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 10px 10px 40px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.steps-form .checkout-form form input.form-check-input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: -32px;
}
.detailpage-bar ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.detailpage-bar ul li {
  float: left;
  margin-right: 85px;
}
.detailpage-bar ul li span {
  cursor: pointer;
  text-decoration: none;
  font-size: 26px;
  line-height: 30px;
  color: #000;
  border-bottom: 4px solid transparent;
}
.section-main {
  padding: 55px 0;
}
.detailpage-bar {
  margin-bottom: 50px;
}
.detail-business-block {
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background: #fff !important;
  margin: 10px 0;
}
.detail-business-header {
  padding: 10px 15px;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 0 !important;
}
.detail-business-header h3 {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 20px;
  color: #000;
}
.detail-business-header button {
  background: none;
  text-decoration: none;
  color: #00ac8c;
  font-weight: 600;
  border: 1px solid #00ac8c;
  font-size: 14px;
  line-height: 16px;
  padding: 3px 10px;
  border-radius: 4px;
}
.detail-business-header button:hover,
.detail-business-header button:focus {
  background: #00ac8c;
  color: #fff;
}
.detail-business-block ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.detail-business-block ul li {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  justify-content: space-between;
}
.detail-business-block ul li p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  font-weight: normal;
}
.detail-business-block ul li h4 {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}
.detail-business-acitivity .mb-3 {
  display: flex;
  margin-top: 10px;
  gap: 15px;
  padding: 0 15px;
}
.detail-business-acitivity .mb-3 select {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.shareholders-block .detail-business-header {
  border-bottom: none !important;
}
.shareholders-block .table-responsive {
  padding: 0 15px;
}
.shareholders-block table thead {
  background: rgba(0, 0, 0, 0.1);
}
.shareholders-block table thead th {
  font-weight: normal;
  color: #000;
}
.shareholders-block table tbody {
  border-top: none !important;
}
.shareholders-block table td button {
  background: none;
  text-decoration: none;
  color: #000;
  margin: 0 5px;
  padding: 3px 10px;
  border: 1px solid #000;
  font-size: 12px;
  line-height: 14px;
  border-radius: 2px;
}
.shareholders-block table td button:hover,
.shareholders-block table td button:focus {
  background: #000;
  color: #fff;
}
.shareholders-block table td button:first-child {
  margin-left: 0;
}
.sidebar-block {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  background: #fff !important;
  padding: 15px;
}
.sidebar-block ul {
  list-style: none;
  padding: 0;
}
.sidebar-block ul h4 {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #000;
}
.sidebar-block ul li span img {
  width: 30px;
  border-radius: 100%;
  margin: 0;
}
.sidebar-block ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.sidebar-block h3.card-title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
}
.sidebar-block img {
  width: 90px;
  margin: 20px auto;
}
.sidebar-block button {
  border: none;
  padding: 15px;
  width: auto;
  display: inline-block !important;
  background: #00ac8c;
  font-size: 20px;
  line-height: 22px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
}
.sidebar-block button:hover,
.sidebar-block button:focus {
  background: #000;
  color: #fff;
}
.current-plan-section {
  background: #fff !important;
  padding: 40px;
}
.current-plan-header {
  flex-direction: row !important;
  margin-bottom: 40px;
}
.current-plan-header span {
  cursor: pointer;
  margin-right: 70px;
  text-decoration: none;
  font-size: 30px;
  line-height: 32px;
  color: #000;
  border-bottom: 4px solid transparent;
}
.current-plan-header span.active {
  border-color: #000;
}
.current-plan-block {
  height: 100%;
  padding: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.current-plan-block p.card-text {
  font-size: 20px;
  line-height: 28px;
  color: #000;
  margin-bottom: 30px;
}
.current-plan-bottom.card {
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.current-plan-bottom button {
  text-decoration: none;
  font-size: 24px;
  line-height: 26px;
  background: none;
  border: none;
  color: blue;
}
.current-plan-bottom .current-plan-checkout {
  background: #7f0019;
  padding: 15px 30px;
  font-weight: bold;
  color: #fff;
}
.current-plan-bottom .current-plan-checkout:hover,
.current-plan-bottom .current-plan-checkout:focus {
  background: #00ac8c;
  color: #fff;
}
.file-upload-section.card {
  background: #fff !important;
  padding: 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.file-upload-section .card-title {
  font-size: 16px;
  line-height: 18px;
  color: #000;
  margin-bottom: 20px;
}
.file-upload-block.card {
  width: 100%;
  background: #f4f6f8 !important;
  border: 1px dotted #000 !important;
  border-radius: 5px;
  padding: 15px;
}
.file-upload-block .file-upload-type input {
  height: 100%;
  width: 100%;
}
.file-upload-block .file-upload-type {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
}
.file-upload-detail.card {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
}
.file-upload-detail p {
  margin-bottom: 0;
}
.current-plan-bottom button:hover,
.current-plan-bottom button:focus {
  background: none;
  color: #7f0019;
}
.file-upload-detail p u {
  color: #00ac8c;
}
td {
  border: none !important;
}
.file-filter-section form select {
  max-width: 500px;
  margin: 10px auto 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.shareholders-block table td.edit-download-icon button {
  border: none;
  padding: 0;
  margin-right: 10px;
}
.shareholders-block table td.edit-download-icon button:hover,
.shareholders-block table td.edit-download-icon button:focus {
  background: none;
  opacity: 0.7;
}
.file-filter-section.card {
  margin: 15px 0;
  background: #fff !important;
  padding: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.shareholders-block table .text-right {
  text-align: right;
}
.shareholders-block table td button:last-child {
  margin-right: 0;
}
.promoter-section .sidebar-block h3.card-title {
  margin-bottom: 20px;
}
.navbar .row {
  align-items: center;
}
.account-dropdown.card {
  display: none;
}
.steps-form form button.step-last-back {
  background: #00ac8c;
}
.section-bottom.card button {
  color: #0d6efd;
  background: none;
  padding: 0 0 4px;
  border: none;
  text-decoration: underline;
}
/* Dashbord Page */
.profile-detail.card {
  padding: 15px;
  background: #fff !important;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
}
.profile-detail .card-title {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.profile-detail .mb-3 {
  display: flex;
  gap: 30px;
  align-items: center;
}
.profile-detail input,
.profile-detail select {
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 0;
  padding-left: 0;
  color: #000;
  font-size: 16px;
  line-height: 18px;
}
.profile-image input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: 9;
}
.profile-image.card {
  overflow: hidden;
  border-radius: 100%;
}
.profile-image.card img {
  width: 100%;
}
.profile-image.card::after {
  background-image: url(./images/camera.png) !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  overflow: hidden;
  border-radius: 100%;
  background-size: 35px !important;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-security button {
  background: #7f0019;
  border: none;
  font-weight: bold;
  padding: 10px 30px;
  font-size: 22px;
  line-height: 32px;
  color: #fff;
  max-width: 266px;
  width: 100%;
}
.profile-detail select {
  background: url(./images/arrow-down.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center right 10px;
  padding-right: 25px !important;
}
.profile-payment button {
  background: #7f0019;
  border: none;
  font-weight: bold;
  padding: 10px 30px;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  width: 100%;
}
.authenticated-check .form-check-input:checked[type="checkbox"] {
  opacity: 0;
  z-index: 9;
}
.profile-payment .form-check {
  position: relative;
  padding-left: 50px;
}
.authenticated-check input {
  position: absolute;
  left: 25px;
  top: -5px;
  width: 35px;
  height: 35px;
  border: 1px solid #000;
}
.authenticated-check img {
  position: absolute;
  left: 0;
  top: -7px;
  display: none;
}
.authenticated-check .form-check-input:checked[type="checkbox"] + img {
  display: block;
}
.profile-detail input.profile-paypal {
  background: url(./images/paypal.png);
  padding-left: 100px;
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: center left;
}
.two-factor.card {
  background: url(./images/security-icon.png) !important;
  padding-left: 30px;
  background-size: 17px !important;
  background-position: left top 4px !important;
  background-repeat: no-repeat !important;
}
.profile-security-btn.card {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.profile-security-btn.card button {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
}
.profile-security-btn.card button:hover,
.profile-security-btn.card button:focus {
  color: #7f0019;
}
.profile-security-btn.card button.get-started-btn {
  background: #00ac8c;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}
.profile-security-btn.card button.get-started-btn:hover,
.profile-security-btn.card button.get-started-btn:focus {
  background: #7f0019;
  color: #fff;
}
.profile-login-device-bottom.card {
  margin: 20px 0;
  padding-left: 50px;
}
.profile-security-btn.card .learn-btn {
  background: none;
  padding: 0 !important;
  max-width: none !important;
  width: auto;
}
.profile-login-device-bottom p.card-text {
  margin-bottom: 0;
}
.profile-point-block ul {
  padding: 0;
  list-style: none;
}
.point-btn img {
  width: auto;
  height: 18px;
}
.profile-point-block ul li {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  grid-column-gap: 15px;
  align-items: center;
  margin: 10px 0;
}
.profile-point-block ul li span {
  color: #000;
  border: 1px solid #000;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.profile-point-block ul li span.vertified {
  background: #00ac8c;
  border-color: #00ac8c;
  color: #fff;
  font-weight: bold;
}
.profile-point-block ul li span.point-facebook {
  background: #3b5998;
  border-color: #3b5998;
  color: #fff;
  font-weight: bold;
}
.profile-point-block ul li span.point-linkedin {
  background: #0e76a8;
  border-color: #0e76a8;
  color: #fff;
  font-weight: bold;
}
.profile-point-block ul li span.point-authenticate {
  background: #b2b4b3;
  border-color: #b2b4b3;
  color: #fff;
  font-weight: bold;
}
.profile-point-block.card {
  margin-top: 40px;
}
.toggle-btn.card {
  width: 60px;
  height: 28px;
  background: #00ac8c !important;
  border-radius: 35px;
  max-width: 60px;
  min-width: 60px;
}
.profile-detail.profile-score-block.card {
  padding: 50px 15px;
}
.toggle-btn.card .form-check-input {
  z-index: 9;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.toggle-btn.card span {
  width: 24px;
  height: 24px;
  background: #fff;
  display: inline-block;
  transition: 1s;
  position: absolute;
  left: 2px;
  top: 1.8px;
  bottom: 0;
  border-radius: 100%;
  transition: 1s;
}
.toggle-btn.card .form-check-input:checked[type="checkbox"] + span {
  left: auto;
  right: 2px;
}
.profile-account .form-check {
  padding-left: 0;
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 10px 0;
}
.profile-account .btn {
  width: auto;
  display: inline-block;
  max-width: 250px;
  background: none;
  border: 1px solid #000;
  padding: 15px;
  font-size: 16px;
  line-height: 18px;
  color: #000;
}
.profile-account .btn:hover,
.profile-account .btn:focus {
  background: #00ac8c;
  color: #fff;
  border-color: #00ac8c;
}
.myprofile-left .card-title {
  margin-bottom: 40px;
  font-size: 42px;
  line-height: 50px;
}
.myprofile-left p.card-text {
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 30px;
  color: #000;
}
.myprofile-left.card {
  display: inline-block;
}
.myprofile-left button {
  border: none;
  display: inline-block;
  width: auto;
  background: #00ac8c;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  border-radius: 5px;
  font-weight: 600;
  margin: 40px 0;
}
.myprofile-left button:hover,
.myprofile-left button:focus {
  background: #7f0019;
  color: #fff;
}
.profile-image.card {
  max-width: 250px;
  margin: 0 auto 40px;
}
.myprofile-verifaction .card-title {
  margin-bottom: 20px;
}
.myprofile-verifaction ul {
  list-style: none;
  padding-left: 0;
}
.myprofile-verifaction ul li {
  display: flex;
  justify-content: space-between;
}
.myprofile-verifaction ul li span {
  text-align: center;
  width: 100px;
}
.myprofile-verifaction ul li span.verify {
  color: #3db4ea;
}
.currency-tab-block.card {
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.currency-tab-block.card .form-label {
  margin-bottom: 0;
}
.currency-tab-block.card span {
  border-bottom: 3px solid #000;
}
.cs-share img {
  width: auto;
  height: 20px;
  border-radius: 4px;
}
.cnb-top.card {
  background: #ffde59 !important;
  border-radius: 5px;
  padding: 50px;
}
.cnb-top-left.card {
  padding-right: 50px;
}
.cnb-top-left.card h2.card-title {
  font-size: 44px;
  line-height: 52px;
  color: #000;
  margin-bottom: 20px;
}
.cnb-top .row {
  align-items: center;
}
.cnb-top-right.card {
  background: #fff !important;
  padding: 30px 15px;
}
.cnb-top-right .card-title {
  margin-bottom: 15px;
}
.cnb-top-right .link-block {
  width: 100%;
  background: #3db4ea;
  height: 40px;
}
.copy-share.card {
  flex-direction: row;
  justify-content: space-between;
}
.copy-btn button {
  border: none;
  text-decoration: none;
  background: #00ac8c;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  padding: 8px 25px;
  border-radius: 2px;
}
.copy-btn button:hover,
.copy-btn button:focus {
  background: #000;
  color: #fff;
}
.cs-share.card {
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.cs-share.card .form-label {
  margin-bottom: 0;
}
.profile-detail.cnb-bottom input {
  border-bottom: none;
  background: #f4f6f9 !important;
  padding: 15px;
}
.send-import.card {
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
}
.send-btn button {
  border: none;
  text-decoration: none;
  background: #00ac8c;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  padding: 8px 25px;
  border-radius: 2px;
}
.send-btn button:hover,
.send-btn button:focus {
  background: #000;
  color: #fff;
}
.si-import.card {
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.si-import.card .form-label {
  margin-bottom: 0;
}
.steps-form.modal-body .mb-3 {
  width: 100%;
}
.popup-btn.card {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.popup-btn.card button {
  text-decoration: none;
  font-size: 20px;
  line-height: 22px;
}
.share-capital-block .detail-business-header button {
  color: #ee2939;
  border-color: #ee2939;
}
.share-capital-block .detail-business-header button:hover,
.share-capital-block .detail-business-header button:focus {
  color: #fff;
  border-color: #ee2939;
  background: #ee2939;
}
.share-capital-block table td {
  color: #ee2939;
}
.number-share-text.card-text {
  margin: 15px;
}
.registered-address-text.card-text {
  padding: 15px;
  color: #ee2939;
}
.modal-title {
  display: flex;
  gap: 10px;
}
.tooltip-width .tooltip-inner {
  max-width: 500px !important;
}
.modal-dialog.information-popup {
  max-width: 800px;
}
.steps-form form div.mb-3 input[type="file"] {
  border-bottom: none;
}
:focus {
  box-shadow: none !important;
}
.bs-tooltip-start .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^="left"] .tooltip-arrow::before {
  border-left-color: #cecfd0;
}
.profile-detail.profile-account .form-label {
  margin-bottom: 0;
}
.detailpage-bar ul li {
  margin-bottom: 10px;
}
.steps-detail-block.card.active {
  border: 1px solid #000 !important;
}
.required-text {
  color: #dc3545;
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 0;
}
.steps-form form input::placeholder {
  color: #000 !important;
}
.email-check div {
  width: 100%;
}
.steps-form .checkout-form form div.mb-3 button {
  width: 100%;
}
.four-step-address .shareholder-fields {
  width: 100%;
}
.steps-form form.four-step-address div.mb-3 {
  width: 100%;
}
.contact-link {
  background: none !important;
  color: blue !important;
  padding: 0 !important;
  font-weight: normal !important;
}
.contact-link:hover,
.contact-link:focus {
  color: #7f0019 !important;
}
.detailpage-bar ul li.active span {
  border-color: #000;
}

@media screen and (max-width: 1200px) {
  .sidebar-block button {
    font-size: 16px;
    line-height: 22px;
  }
  .table-responsive .table {
    width: 700px;
  }
  .detailpage-bar ul li {
    float: left;
    margin-right: 70px;
  }
  .profile-security button {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 28px;
  }
  .profile-payment button {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 22px;
  }
  .copy-btn button {
    padding: 8px 15px;
  }
}
@media screen and (max-width: 992px) {
  .navbar .create-new-business.nav-link {
    padding: 10px 15px !important;
  }
  .hedaer-icon a img {
    height: 20px;
  }
  .header-circle-btn {
    width: 30px;
    height: 30px;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    font-size: 14px;
    line-height: 20px;
  }
  .steps-bar ul li::before {
    width: 70%;
    left: 65%;
  }
  .steps-detail-block img {
    width: 125px;
  }
  .steps-detail-block p.card-text {
    font-size: 20px;
    line-height: 28px;
  }
  .steps-block .section-title .card-text {
    margin-top: 10px;
  }
  .section-title h2.card-title {
    font-size: 24px;
    line-height: 30px;
  }
  .steps-block .section-title .card-text {
    font-size: 20px;
    line-height: 26px;
  }
  .step-address-text p {
    font-size: 20px;
    line-height: 26px;
  }
  .step-four-bottom .row {
    flex-direction: column;
  }
  .step-four-bottom .row .col-4 {
    width: 100%;
    margin: 10px 0;
  }
  .detailpage-bar ul li {
    margin-right: 50px;
  }
  .detailpage-bar ul li span {
    font-size: 16px;
    line-height: 24px;
  }
  .sidebar-block ul li {
    flex-direction: column;
    gap: 10px;
  }
  .sidebar-block h3.card-title {
    font-size: 16px;
    line-height: 22px;
  }
  .sidebar-block button {
    font-size: 12px;
    line-height: 16px;
  }
  .sidebar-block p.card-text {
    font-size: 12px;
    line-height: 18px;
  }
  .detailpage-bar {
    margin-bottom: 25px;
  }
  .current-plan-block {
    padding: 15px;
  }
  .profile-security button {
    padding: 10px 10px;
    font-size: 14px;
    line-height: 20px;
  }
  .profile-payment button {
    padding: 10px 10px;
    font-size: 12px;
    line-height: 20px;
  }
  .profile-point-block ul li {
    display: block;
  }
  .profile-point-block ul li span {
    width: 43%;
    float: left;
    margin-right: 10px;
  }
  .profile-point-block ul li label {
    width: 100%;
    margin: 10px 0;
  }
  .cnb-top-left.card {
    padding-right: 0;
  }
  .cnb-top .col-8 {
    width: 100%;
    margin-bottom: 20px;
  }
  .cnb-top .col-4 {
    width: 100%;
  }
  .cnb-top.card {
    padding: 25px;
  }
  .cnb-top-left.card h2.card-title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .header-right .navbar-toggler {
    border: none;
    padding: 0;
  }
  .header-right .navbar-toggler .navbar-toggler-icon {
    filter: invert(1);
  }
  .header-right .collapse.show.navbar-collapse {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    top: 45px;
    background: #00ac8c;
    padding: 15px;
  }
  .navbar .create-new-business.nav-link {
    background: none;
    padding: 10px 0 !important;
    margin-left: 0;
    border-radius: 0;
    color: #fff !important;
  }
  .navbar .create-new-business.nav-link:hover,
  .navbar .create-new-business.nav-link:focus {
    background: none !important;
    color: #7f0019 !important;
  }
  .members-block .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .members-block .row > div {
    width: 100%;
    text-align: center;
  }
  .members-thumbnail.card {
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
  }
  .members-block button {
    margin-top: 10px;
  }
  .section-bottom.card {
    margin-top: 100px;
  }
  .steps-form form div.mb-3 {
    width: 100%;
  }
  .step-business-section.card .section-title.card {
    margin-bottom: 20px;
  }
  .steps-form {
    padding: 20px 0;
  }
  .steps-bar ul li::before {
    width: 60%;
    left: 70%;
  }
  .step-business-section.card {
    padding: 20px 0;
  }
  .steps-form form div.mb-3 {
    gap: 15px;
  }
  .section-title h2.card-title br {
    display: none;
  }
  .step-address-text {
    margin: 20px 0;
  }
  .detailpage-main .col-8,
  .detailpage-main .col-4 {
    width: 100%;
  }
  .detailpage-bar ul li span {
    font-size: 16px;
    line-height: 24px;
  }
  .detailpage-bar ul li {
    margin-right: 40px;
  }
  .current-plan-section {
    padding: 15px;
  }
  .current-plan-header span {
    margin-right: 40px;
    font-size: 22px;
    line-height: 26px;
  }
  .current-plan-section .col-6 {
    width: 100%;
    margin: 10px 0;
  }
  .payment-monthly-yearly .col-6 {
    width: 100%;
  }
  .current-plan-bottom button {
    font-size: 18px;
    line-height: 22px;
  }
  .current-plan-bottom .current-plan-checkout {
    padding: 10px 20px;
  }
  .file-upload-detail.card {
    flex-direction: column;
    text-align: center;
  }
  .profile-detail .mb-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .profile-image.card {
    max-width: 75px;
    margin: 0 auto 10px;
  }
  .profile-detail.profile-payment .mb-3,
  .profile-detail.profie-financial .mb-3 {
    grid-template-columns: 1fr;
  }
  .profile-detail .mb-3 {
    gap: 15px;
  }
  .profile-payment .form-check {
    margin-bottom: 15px;
  }
  .profile-point-block.card {
    margin-top: 15px;
  }
  .profile-login-device-bottom.card {
    margin: 10px 0;
    padding-left: 0;
  }
  .profile-detail.profile-address .col-6 {
    width: 100%;
  }
  .profile-detail.profile-security .col-6 {
    width: 100%;
  }
  .profile-point-block .col-6 {
    width: 100%;
  }
  .profile-point-block ul li span {
    width: 45%;
  }
  .profile-security-btn.card a.get-started-btn {
    padding: 12px 15px;
    font-size: 16px;
    line-height: 22px;
  }
  .profile-account .btn {
    margin-top: 10px;
  }
  .detailpage-bar ul li {
    float: none;
    display: inline-block;
  }
  .detailpage-bar ul {
    text-align: center;
  }
  .myprofile-left .card-title {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 34px;
  }
  .myprofile-left p.card-text {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 24px;
    color: #000;
  }
  .myprofile-left.card {
    text-align: center;
  }
  .myprofile-left.card {
    margin-bottom: 10px;
  }
  .popup-btn.card button {
    font-size: 16px;
    line-height: 22px;
  }
  .steps-form.modal-body .col-5,
  .steps-form.modal-body .col-7 {
    width: 100%;
  }
  .required-text {
    font-size: 14px;
    line-height: 18px;
  }
  .steps-form.shareholder-form form div.mb-3 .email-check {
    width: 100%;
    max-width: 100%;
  }
  .steps-form.shareholder-form.card .shareholder-fields {
    width: 100%;
    max-width: 100%;
  }
  .steps-form.shareholder-form form div.mb-3.mob-full {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .steps-bar ul li {
    width: 100%;
    max-width: 100%;
  }
  .steps-bar ul li div {
    font-size: 10px;
  }
  .steps-bar ul li::before {
    width: 35%;
    left: 83%;
  }
  .steps-bar ul li div span {
    width: 40px;
    height: 40px;
  }
  .steps-detail-block img {
    width: 100px;
  }
  .col-6 {
    width: 100% !important;
  }
  .steps-form .section-title {
    margin-bottom: 20px;
  }
  .steps-form form input,
  .steps-form form select {
    padding: 10px 0;
    font-size: 14px;
    line-height: 16px;
  }
  .steps-form form button {
    padding: 8px 15px;
    font-size: 16px;
    line-height: 24px;
  }
  .section-title h2.card-title {
    font-size: 18px;
    line-height: 26px;
  }
  .steps-block .section-title .card-text {
    font-size: 16px;
    line-height: 22px;
  }
  .step-address-text p {
    font-size: 16px;
    line-height: 22px;
  }
  .tabs-detail ul {
    padding-left: 20px;
  }
  .detailpage-bar ul li {
    margin-right: 15px;
  }
  .detail-business-header h3 {
    font-size: 15px;
    line-height: 17px;
  }
  .detail-business-block ul li h4 {
    font-size: 14px;
    line-height: 18px;
  }
  .detail-business-block ul li p {
    font-size: 14px;
    line-height: 18px;
  }
  .detail-business-header button {
    font-size: 10px;
    line-height: 14px;
  }
  table thead th,
  table td {
    font-size: 12px;
    line-height: 16px;
  }
  .detailpage-bar ul li span {
    font-size: 14px;
    line-height: 22px;
  }
  .cnb-top-left.card h2.card-title {
    font-size: 22px;
    line-height: 28px;
  }
  .send-btn button {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 10px;
  }
  .si-import img {
    width: 30px;
  }
  .cnb-top.card {
    padding: 15px;
  }
}
